/*Start Global Rules*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.noto-kufi-arabic-uniquifier{
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
:root{
    --text-color: #fff;
    --icon-color: #0a0a0a;
    --heading-color: #000;
    --border-color: #f1f1f1;
    --color-three: #feee00;
}
/*End Global Rules*/
/*Small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/*Large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*Start About-Us*/
.about-Us{
    width: 100%;
    height: 100%;
}
.about-Us .col-one{
    background-color: #f6f6f6;
    margin-bottom: 20px;
}
.about-Us .col-one .container{
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    justify-content: space-between;
    padding: 15px;
}
.about-Us .col-one .container .text-content{
    max-width: 55%;
}
@media (min-width: 768px){
    .about-Us .col-one .container .text-content{
        margin-top: 20px;
    }
}
.about-Us .col-one .container .text-content h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
}
.about-Us .col-one .container .text-content p{
    color: var(--heading-color);
    font-size: 17px;
    font-weight: 200;
    line-height: 1.6;
}
.about-Us .col-one .container .image{
    max-width: 30%;
    height: 100%;
}
.about-Us .col-one .container .image img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 600px){
    .about-Us .col-one .container .image img{
        width: 160px;
        height: 100%;
    }
}
.about-Us .col-two .container{
    padding: 15px;
}
.about-Us .col-two .container .col{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.about-Us .col-two .container .col .image{
     max-width: 30%;
    height: 100%;
}
@media (max-width: 975px){
    .about-Us .col-two .container .col .image{
        margin-left: auto;
        margin-right: auto;
    }
}
.about-Us .col-two .container .col .image img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about-Us .col-two .container .col .content-text{
    max-width: 60%;
}
.about-Us .col-two .container .col .content-text h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 10px;
    text-align: end;
}
.about-Us .col-two .container .col .content-text p{
    color: var(--heading-color);
    font-size: 17px;
    font-weight: 200;
    line-height: 1.6;
    text-align: end;
    margin-bottom: 10px;
}
@media (max-width: 768px){
    .about-Us .col-two .container .col:nth-child(1){
        flex-direction: column-reverse;
    }
    .about-Us .col-two .container .col:nth-child(2){
        flex-direction: column;
    }
    .about-Us .col-two .container .col .content-text{
        min-width: 100%;
    }
    .about-Us .col-two .container .col .image{
        min-width: 100%;
       height: 100%;
       text-align: center;
   }
}
.about-Us .employees{
    width: 100%;
    background-color: #f6f6f6;
}
.about-Us .employees .container{
    padding: 15px;
}
.about-Us .employees .container h2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 10px;
}
.about-Us .employees .container .col-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
.about-Us .employees .container .col-content .col{
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 500px){
    .about-Us .employees .container .col-content{
        justify-content: center;
    }
}
.about-Us .employees .container .col-content .col img{
    width: 200px;
    height: 120px;
}
.about-Us .employees .container .col-content .col h3{
    font-size: 17px;
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: 10px;
}
.about-Us .employees .container .col-content .col a{
    text-decoration: none;
    margin-bottom: 15px;
    color: #777;
}

/*End About-Us*/